root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csproj,props,targets,slnx}]
indent_size = 4

[*.cs]
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_diagnostic.IDE0005.severity = warning

[*.md]
trim_trailing_whitespace = false
